In [78]:
--Null értékek száma és százalékos aránya
SELECT 
    'Leírás' AS Oszlop,
    COUNT(*)  AS Összes_sor,
    COUNT(LEIRAS) AS Nem_NULL_Értékek,
    COUNT(*) - COUNT(LEIRAS) AS NULL_Értékek_száma,
    (COUNT(*) - COUNT(LEIRAS)) * 100.0 / COUNT(*) AS Százalékos_arány
FROM Termek;

Oszlop,Összes_sor,Nem_NULL_Értékek,NULL_Értékek_száma,Százalékos_arány
Leírás,551,24,527,95.644283121597

In [81]:
--Minimum és maximum ár
SELECT MIN(LISTAAR) As Minimum_Ár,
        MAX(LISTAAR) As Maximum_Ár
from Termek
WHERE LISTAAR  != '0'

Minimum_Ár,Maximum_Ár
3,46000

In [99]:
--Kiugró értékek keresése a felvittek oszlopban, százalékos eloszlás
select FELVITTE , COUNT(*) As Felvitelek_száma, COUNT(*)*100.0 / (select COUNT(*) from Termek) as százalék
From Termek
GROUP BY FELVITTE
ORDER BY COUNT(*) DESC

FELVITTE,Felvitelek_száma,százalék
Béla,189,34.301270417422
Sára,188,34.119782214156
Mari,174,31.578947368421

In [103]:
--Minimum/Maximum Készlet

Select  MIN(KESZLET) As Minimum_készlet,
        MAX(KESZLET) As Maximum_készlet,
        AVG(KESZLET) AS Átlagos_készlet
From Termek

Minimum_készlet,Maximum_készlet,Átlagos_készlet
0,50000,1585.9909255898367